
@font-face {
  font-family: NotoSansTC;
  src: url('../font/NotoSansTC.ttf');
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NotoSansTC',  sans-serif;
  color: #101211;
  
}

img {
  width: 100%;
  vertical-align: middle;
  object-fit: cover;
}
input,select{
  user-select: none;
  outline: none;
}
button{
  outline: none;
  border: none;
  box-shadow: none;
  background: none;
}

a, .cursor,button{
  user-select: none;
  cursor: pointer;
  text-decoration: none;
}
a:hover, .cursor:hover, button:hover{
  opacity: .8;
}
a:active, .cursor:active, button:active{
  opacity: .6;
}

.hps_view {
  width: 100%;
  margin: auto;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.headerView{
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

.limit_width{
  width: 100%;
  max-width: 110rem;  
  margin: 0 auto;
}

@media (max-width: 1830px) {
  .limit_width{
    width: calc(100% - 3.75rem);
    margin: 0 1.875rem;
  } 
}
@media (max-width: 768px) {
  .limit_width{
    width: calc(100% - 2rem);
    margin: 0 1rem;
  } 
}

/* animation */
@-webkit-keyframes fadeInDown {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -100%, 0);
  }
}
.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/* header */
.main_header{
  position: sticky;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  width: 100%;
  top: 0;
  z-index: 99;
  background-color: #fff;
}
.header_container{
  padding: 17.5px 40px;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo{
  width: 273px;
}
.header_right{
  display: flex;
  align-items: center;
}
.header_right nav{
  display: flex;
  gap: 40px;
}
.header_right nav a{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -2%;
  color: #868686;
}
.header_right .header_right_text{
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #40A7AB;
}
.header_right .header_right_button{
  display: flex;
  margin: 0 24px 0 53px;
  width: 286px;
  border-radius: 8px;
  justify-content: space-between;
  background: #FFFFFF1A;
  align-items: center;

}
.header_right .header_right_button input{
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  border: 1px solid #27344126;
  border-right: none;
  flex: 1;
  border-radius: 7px 0 0 7px;
}
.header_right .header_right_button button{
  border: none;  
  background: #40A7AB;
  padding: 10px 15px;
  border-radius: 0 7px 7px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  color: #FFFFFF;
  width: 70px;
  height: 42px;
  border: 1px solid #40A7AB;
}
.header_right .header_right_newspaper{
  display: flex;
  gap: 4px;
  align-items: center;
}
.header_right .header_right_newspaper img{
  width: 24px;
  height: 24px;
}
.header_right .header_right_newspaper p{
  font-size: 16px;
  line-height: 100%;
  font-weight: 700;
  color: #40A7AB;
}








/* main */
.main_content{
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}
.banner_container{
  position: relative;
  user-select: none;
  max-height: 750px;
  overflow: hidden;
}
.banner_info{
  position: absolute;
  top: 0;
  left: 0;
  width: 669px;
  height: 100%;
  background: linear-gradient(270deg, rgba(17, 19, 25, 0) 0%, #111319 100%);
  z-index: 2;
  padding-left: 90px;
  padding-top: 160px;
}
.banner_info_content{
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 98px;
  width: 400px;
}
.banner_info_content .info_type{
  font-size: 14px;
  font-weight: 500;
  line-height: 31px;
  padding: 0 20px;
  width: fit-content;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.banner_info_content .info_title{
  font-size: 48px;
  line-height: 48px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #FFFFFF;
}
.banner_info_content .info_content{  
  font-size: 18px;
  font-weight: 500;
  color: #FFFFFF;
}
.banner_info_content .info_button{
  width: 124px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid #FFFFFF;
  background: transparent;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
}
.banner_cover{
  position: absolute;
  top: 0;
  right: 0;
  width: 482px;
  height: 100%;
  background: linear-gradient(90deg, rgba(17, 19, 25, 0) 0%, #111319 100%);
  z-index: 2;
}

.banner-pagination .swiper-pagination-bullet{
  opacity: 1;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}
.banner-pagination .swiper-pagination-bullet-active{
  background: #40A7AB;
  width: 16px;
}





.main_content .main_content_title{
  margin-bottom: 30px;
}
.main_content .main_content_title  p{
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 1px;
  color: #868686;
}
.main_content .main_content_title h1{
  font-size: 32px;
  line-height: 44px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #000000;
  margin: 8px 0 15px;
}
.main_content .main_content_title .wire{
  width: 73px;
  height: 5px;
  background: #40A7AB;
}


.main_content .main_content_search{

}
.main_content .main_content_search_option{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.main_content .main_content_search_option input,.main_content .main_content_search_option select{
  border: 1px solid #27344126;
  border-radius: 8px;
  padding: 0 15px;
  appearance: none;
  font-size: 16px;
  height: 40px;
  color: rgba(0, 0, 0, 0.85);
}

.main_content .main_content_search_option select {
  background-image: url('../images/angle-down.svg');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
}
.main_content .main_content_search_option .search_select{
  min-width: 210px;
}

.main_content .main_content_search_option .search_date_range{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #27344126;
  border-radius: 8px;
  height: 40px;
  width: 256px;
}
.main_content .main_content_search_option .search_date_range .swap_icon{
  width: 16px;
  height: 16px;
  margin: 0 8px;
}
.main_content .main_content_search_option .search_date_range .calendar_icon{
  width: 14px;
  margin-left: 4px;
}
.main_content .main_content_search_option .search_date_range input{
  border: none;
  padding: 0;
  appearance: none;
  width: 91px;
  height: 38px;
}
.main_content .main_content_search_option .search_keyword{
  flex: 1;
}
.search_button{
  width: 64px;
  height: 40px;
  border-radius: 8px;
  background: #40A7AB;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}
.main_content_search .main_content_search_total{
  font-size: 16px;
  color: #868686;
  width: fit-content;
  margin: 20px 0 0 auto;
}
.main_content_search .main_content_search_total span{
  color: #40A7AB;
  margin: 0 8px;
}

.main_content_result{
  margin: 30px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.main_content_result .main_content_result_item{
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.main_content_result .main_content_result_item .result_item_info{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.main_content_result .main_content_result_item .result_item_info .result_item_info_title{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.main_content_result .main_content_result_item .result_item_info .result_item_info_content{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.main_content_result .main_content_result_item .result_item_info .result_item_info_content img {
  width: 20px;
  height: 20px;
}
.main_content_result .main_content_result_item .result_item_info .result_item_info_content p {
  flex: 1;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
}
.main_content_result .main_content_result_item .result_item_info .result_item_info_content .result_item_info_content_col{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  color: #FFFFFF;
  width: 100px;
}
.main_content_result .main_content_result_item .result_item_info .result_item_info_button{
  width: 124px;
  margin: 10px auto 0;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #FFFFFF;
  background: rgba(64, 167, 171, 0.2);
  color: #FFFFFF;
}
.main_content_result .main_content_result_item:hover .result_item_info{
  display: flex;
}



/* pagination */
.common_pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 63px;
}
.common_pagination a{
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1B1B1B;
  border-radius: 8px
}
.common_pagination a.active{
  background-color: #40A7AB;
  color: #fff;
}
.common_pagination .prev_page, .common_pagination .next_page{
  width: 37px;
}

.main_footer{
  border-top: 1px solid #D9D9D9;
  width: 100%;
}
.main_footer_container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  padding: 64px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_footer .main_footer_left{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
.main_footer .main_footer_left .main_footer_left_logo{
  width: 273px;
}
.main_footer .main_footer_left .main_footer_left_info{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.main_footer .main_footer_left .main_footer_left_info_item{
  display: flex;
  align-items: center;
  gap: 8px;
}
.main_footer .main_footer_left .main_footer_left_info_item img{
  width: 20px;
  height: 20px;
}
.main_footer .main_footer_left .main_footer_left_info_item p{
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  color: #1B1B1B;
}
.main_footer .main_footer_left .main_footer_left_copyright{
  font-size: 16px;
  line-height: 100%;
  color: #868686;
}

.main_footer .main_footer_right{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 26px;
}
.main_footer .main_footer_right .platform{
  display: flex;
  align-items: center;
  gap: 16px;
}
.main_footer .main_footer_right .platform img{
  width: 48px;
  height: 48px;
}
.main_footer .main_footer_right .platform .aa_logo{
  width: 182px;
  height: 70px;
  margin-left: 10px;
}
.main_footer .main_footer_right .link{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 28px;
  margin-bottom: 8px;
  width: 100%;
}
.main_footer .main_footer_right .link a{
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: #40A7AB;
  padding-bottom: 2px;
  border-bottom: 1px solid #40A7AB;
}
.main_footer .main_footer_right .ps{
  font-size: 16px;
  font-weight: 500;
  color: #0A0C0F;
}
.main_footer .main_footer_right .back_top{
  display: flex;
  align-items: center;
  color: #868686;
  font-size: 16px;
  font-weight: 500;
  gap: 6px;
}
.main_footer .main_footer_right .back_top img {
  width: 20px;
  height: 20px;
}